* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #404040;
}
body {
    font-family: 'Arial Narrow', Helvetica, sans-serif;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25vw 0;
}
.menulinks {
    font-size: 8em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #404040;
    margin: 5vw 3vw;
}
.griddropdown {
    display: grid;
    grid-template-areas: "one two" "three four" "five six";
    text-align: left;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: bold;
    margin: 5vw 3vw;
    grid-gap: 3vw;
}
.linkdropdown {
    font-size: 6em;
    text-align: center;
    border: 1px solid #404040;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 25vw 5vw 25vw;
}
.textdropdown {
    display: grid;
    grid-template-areas: "one two" "three four" "five six";
    text-align: left;
    text-transform: none;
    font-weight: normal;
    font-size: .8em;
    margin: 5vw 3vw;
    grid-gap: 3vw;
}
.map {
    border: 2px solid #404040;
    width: 100%;
    height: 30vw; /* change to auto */
    margin: 0 auto;
    grid-column: 1/3;
}
a {
}
