$backgroundColor: white;
$textColor: #404040;

/*

Used Breakpoints

@media all and (max-width: 1199px) { ... } 
@media all and (max-width: 991px) { ... } 
@media all and (max-width: 768px) { ... } 
@media all and (max-width: 575px) { ... }

*/


/* -----------------------------------------
            TAGS
-----------------------------------------*/


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #404040;
}


body {
    font-family: 'Arial Narrow', Helvetica, sans-serif;    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

img{
    
    max-height: 100%;
    max-width: 100%;
    height: auto;
}

/* -----------------------------------------
            CLASSES
-----------------------------------------*/


.nav_bar{

    z-index: 1000;
    padding: 15px;
    height: 25vh;
    background-color: $backgroundColor;
    position: sticky;
    top:0;
    transition: height 0.5s ease;

    img{
        display: block;
        margin: 0 auto;
    }
}

.firstItem{
    padding-top: 15vh;
}




.menulinks {
    font-size: 8em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #404040;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
    cursor: pointer;

    @media all and (max-width: 768px) { 
        font-size: 6em;
     } 
    @media all and (max-width: 575px) { 
        font-size: 4em; 
    }

}


.griddropdown {
    text-align: left;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;

    display: flex;
    flex-wrap: wrap;
    margin-left: 3vw;
    margin-right: 3vw;

    @media all and (max-width: 768px) { 
        font-size: 3em;
     } 
    @media all and (max-width: 575px) { 
        font-size: 2em; 
    }

    .item {

        flex: 1 0 21%;
        &:not(:nth-child(4n)) {
            margin-right: 1.5vw;
        }
        height: 0;
        overflow: hidden;

        @media all and (max-width: 1199px) { 
            flex: 1 0 21%;
            &:not(:nth-child(4n)) {
                margin-right: 1.5vw;
            }
        } 
        @media all and (max-width: 768px) { 
            flex: 1 0 48%;
            &:nth-child(odd) {
                margin-right: 1.5vw;
            }
        } 
        @media all and (max-width: 575px) { 
            flex: 1 0 48%;
            &:nth-child(odd) {
                margin-right: 1.5vw;
            }
        }

    }
}

.open{
    .griddropdown{
        .item{
            height: auto;
        }
    }
}

.linkdropdown {
    display: none;
    margin-left: 3vw;
    margin-right: 3vw;

    .item{
        font-size: 6em;
        text-align: center;
        border: 1px solid #404040;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 16vw 5vw 16vw;

        @media all and (max-width: 768px) { 
            font-size: 4em;
         } 
        @media all and (max-width: 575px) { 
            font-size: 3em; 
        }
    }
}

.open{
    .linkdropdown{
        display: block;
    }
}

.textdropdown {
    
    text-align: left;
    text-transform: none;
    font-weight: normal;
    font-size: .8em;

    display: flex;
    flex-wrap: wrap;
    margin-left: 3vw;
    margin-right: 3vw;

    .item {
        width: 50%;
        height: 0;
        overflow: hidden;
    }


}

.open{
    .textdropdown{
        .item{
            height: auto;
        }
    }
}

.map {
    border: 2px solid #404040;
    width: 100%;
    height: 30vw; /* change to auto */
    margin: 0 auto;
    grid-column: 1/3;
}
a {
}
